@font-face {
  font-family: Line-seed-Rg;
  src: url(/font/LINESeedJP_TTF_Rg.ttf);
}
@font-face {
  font-family: Line-seed-Th;
  src: url(/font/LINESeedJP_TTF_Th.ttf);
}
@font-face {
  font-family: Saira-Light;
  src: url(/font/Saira-Light.ttf);
}
.body{
  background-color: #181818;
  margin: 0;
  padding: 0;
}
.name{
  text-align: center;
  font-size: 96px;
  display: flex;
  justify-content: center;
  height: 96px;
}
.role{
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.links{
  display:flex;
  justify-content: center;
}
.youtube{
  height: 40px;
  width: auto;
  margin: 0px 10px;
}
.soundcloud{
  height: 40px;
  width: auto;
  margin: 0px 10px;
}
.twitter{
  height: 40px;
  width: auto;
  margin: 0px 10px;
}
.twitch{
  height: 40px;
  width: auto;
  margin: 0px 10px;
}
.niconico{
  height: 40px;
  width: auto;
  margin: 0px 10px;
}
.header{
  background-color: #00b5ff;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
}
.footer{
  background-color: #000000;
}
.header_nav{
  margin: 0 0 0 auto;
}
.header_ul{
  display: flex;
  text-align: center;
  padding-right: 5px;
}
.header_li{
  padding: 0px 10px;
  flex: 1;
  border-right: 1px solid #181818;
  width: 75px;
}
.header_li_first{
  border-left: 1px solid #181818;
}
.h-masa18{
  font-size: 48px;
  padding: 0px 10px;
}
main{
  margin-top: 88px;
}
a{
  color: #E7E7E7;
  text-decoration: none;
}
ul{
  padding-left: 0;
}
li{
  list-style: none;
}
.Saira{
  font-family: Saira-Light;
}
.Line-Rg{
  font-family: Line-seed-Rg;
}
.Line-Th{
  font-family: Line-seed-Th;
}
